* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #036624;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
a:hover {
    color: #ff5733;
    background-color: #636363;

}
#container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}