        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
            background-color: #0400ff;
        }
        h1{
            text-align: center;
            color: rgb(255, 255, 255);
        }
        p{
            font-size: 20px;
            text-align: center;
            color: rgb(255, 255, 255);
        }
        span{
            color: rgb(255, 0, 0);
            font-weight: bold;
            border: 4px solid rgb(0, 0, 0);
            padding: 0px 5px;
            border-radius: 8px;
        }
        @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .bola{
        width: 500px;
        height: 500px;
        background-color: rgb(115, 255, 0);
        border: 40px solid rgb(0, 0, 0);
        border-radius: 50%;
        margin: auto;
        animation: rotate 3s linear infinite;
    }
    .bola{
        
    }